<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- CONFIGURACIÓN GENERAL DE LA APLICACIÓN -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app1_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TP1"
        tools:targetApi="31">

        <!-- ACTIVIDAD "ACERCA DE..." -->
        <activity
            android:name=".ui.AboutActivity"
            android:exported="false" />

        <!-- SPLASH SCREEN (PANTALLA DE INICIO) -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TP1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ACTIVIDAD PRINCIPAL -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- ACTIVIDAD PARA MOSTRAR DATOS -->
        <activity android:name=".ui.DisplayDataActivity" />

    </application>

</manifest>
